

<ion-content>
  <header id="header" class="bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 max-w-full max-h-screen">
    <nav class="navbar navbar-expand-lg px-4">
      <div class="block lg:hidden">
        <a href="index.html" class="navbar-brand">
          <img src="assets/images/cb-logo.jpg" class="sm:w-40 sm:h-24 w-28 h-20 " alt="logo" />
        </a>
      </div>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#myNavbar">
        <span class="toggler-icon text-white">
          <i class="fa-solid fa-bars md:fa-2x text-xl float-left"></i>
        </span>
      </button>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul
          class="navbar-nav text-capitalize lg:mx-auto float-left items-center md:gap-x-10 font-[Calligraffitti,cursive]">
          <li class="nav-item active">
            <a routerLink="/contact-us"
              class="nav-link md:tex-2xl text-white hover:border-b-2 border-red-300 duration-100">About
              Us</a>
          </li>
          <div class="lg:block hidden">
            <a href="index.html" class="navbar-brand">
              <img src="assets/images/cb-logo.jpg" class="w-40 h-24" alt="logo" />
            </a>
          </div>
          <li class="nav-item">
            <a href="sign-up" class="nav-link md:tex-2xl text-white hover:border-b-2 border-red-300 duration-100">Sign
              Up</a>
          </li>
          <li class="nav-item">
            <a routerLink="/login"
              class="nav-link md:tex-2xl text-white hover:border-b-2 border-red-300 duration-100">Login</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <div class="container mx-auto  min-h-screen ">
    <div class="flex flex-wrap justify-between">
      <div class="min-h-full md:w-6/12 w-full mt-32">
        <div class="flex flex-wrap xl:justify-start justify-center items-center">
          <div class="md:pl-8 p-2 max-w-lg">
            <div class=" flex xl:justify-start justify-center">
              <p class="font-[cursive] text-2xl font-semibold pt-8 pb-3">About Us</p>
            </div>
            <p class="text-justify max-w-full mx-2">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi laudantium tempore mollitia, adipisci, vel
              illo
              autem minus similique doloremque eaque dignissimos sed maiores reiciendis ullam molestias fugiat. Eum
              ratione
              dolores reiciendis cum eveniet eius deleniti repellendus repellat! Perspiciatis, consequatur quisquam!
            </p>
          </div>
          <div class="md:mx-auto mt-4 mx-4 md:order-1 order-[-1] ">
            <img src="assets/images/cb-logo.jpg" class="rounded-full md:h-60 h-56 md:w-60 w-56" alt="">
          </div>
        </div>
      </div>
      <!-- form  -->
      <form class="md:w-5/12 w-full md:mx-auto mx-5 mt-24">
        <h2 class="text-center font-[cursive] text-2xl font-semibold mb-10">Contact us</h2>
        <div class="flex flex-wrap -mx-3 mb-6">
          <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0 sm:max-8">
            <label class="block uppercase tracking-wide text-gray-700  border-b-2-cyan-400 text-xs font-bold mb-2"
              for="grid-first-name">
              First Name
            </label>
            <input
              class="appearance-none block w-full  text-gray-700 border border-cyan-400 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
              id="grid-first-name" type="text" placeholder="First Name">

          </div>
          <div class="w-full md:w-1/2 px-3">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
              Last Name
            </label>
            <input
              class="appearance-none block w-full  text-gray-700 border border-cyan-400 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-cyan-400"
              id="grid-last-name" type="text" placeholder="Last Name">
          </div>
        </div>
        <div class="flex flex-wrap -mx-3 mb-6">
          <div class="w-full px-3">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-password">
              E-mail
            </label>
            <input
              class="appearance-none block w-full  text-gray-700 border border-cyan-400 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-cyan-400"
              id="email" type="email" placeholder="Email">

          </div>
        </div>
        <div class="flex flex-wrap -mx-3 mb-6">
          <div class="w-full px-3">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-password">
              Message
            </label>
            <textarea
              class=" no-resize appearance-none block w-full  text-gray-700 border border-cyan-400 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-cyan-400 h-48 resize-none"
              id="message"></textarea>

          </div>
        </div>
        <div class="flex justify-center">

          <button
            class="bg-transparent hover:bg-cyan-400 text-cyan-400  hover:text-white py-2 px-16 border border-cyan-400 hover:border-transparent rounded">
            Submit
          </button>

        </div>
        <div class="flex justify-around  mt-8 mb-8 sm:gap-x-4">
          <i
            class="fa-brands fa-facebook-f fa-2x text-cyan-400 drop-shadow-2xl hover:cursor-pointer  rounded-full px-5 py-4 bg-white hover:drop-shadow-lg"></i>
          <i
            class="fa-brands fa-twitter fa-2x text-cyan-500 hover:cursor-pointer drop-shadow-2xl  rounded-full px-4 py-4 bg-white hover:drop-shadow-lg"></i>
          <i
            class="fa-brands fa-instagram fa-2x text-red-500 hover:cursor-pointer drop-shadow-2xl  rounded-full px-5 py-4 bg-white hover:drop-shadow-lg"></i>
        </div>
      </form>
    </div>
  </div>
  </ion-content>
