

<ion-content>
  <div class="mx-auto">
  <div class="container mx-auto bg-purple-200 min-h-screen py-6">
    <div
      class="border bg-white mx-auto mx-4 rounded-md my-20 drop-shadow-2xl md:w-4/12 sm:w-5/12 max-w-full"
    >
      <div class="flex justify-center my-6">
        <p class="text-3xl font-bold">Sign In</p>
      </div>
      <div class="md:mx-8 mx-3">
        <input
          placeholder="Username"
          type="text"
          class="md:w-4/6 px-5 focus:ring-1 focus:shadow-xl placeholder:font-[cursive] text-sm focus:ring-blue-200 shadow-xl min-w-full h-14 rounded-full focus:outline-none"
        />
      </div>
      <div class="md:mx-8 mx-3 my-5">
        <input
          placeholder="Password"
          type="text"
          class="md:w-4/6 px-5 focus:ring-1 focus:shadow-xl placeholder:font-[cursive] text-sm focus:ring-blue-200 shadow-xl min-w-full h-14 rounded-full focus:outline-none"
        />
      </div>
      <div class="flex drop-shadow-2xl justify-center">
        <button
          class="bg-purple-500 px-10 drop-shadow-2xl text-xl hover:bg-purple-600 duration-150 text-white py-3 rounded-full"
        >
          Sign In
        </button>
      </div>
      <div class="my-12 text-gray-500 flex justify-center">
        <p>Or login with</p>
      </div>
      <div class="flex justify-center items-center gap-x-2">
        <a href="">
          <i
            class="fa-brands fa-facebook-f hover:shadow-2xl bg-white drop-shadow-2xl text-purple-500 fa-2x px-4 py-3 rounded-full w-14 h-14"
          ></i>
        </a>
        <a href="">
          <i
            class="fa-brands fa-google hover:shadow-2xl bg-white drop-shadow-2xl text-purple-500 fa-2x px-3 py-3 rounded-full w-14 h-14"
          ></i>
        </a>
      </div>
      <div class="flex justify-center mt-20 mb-4">
        <a href="">
          <p>Sign Up</p>
        </a>
      </div>
    </div>
  </div>
</div>
  <script
    src="https://kit.fontawesome.com/19b5604007.js"
    crossorigin="anonymous"
  ></script>
</ion-content>
